<VirtualHost *:443>
 ServerAdmin webmaster@centos.org
 ServerName {{ moin_httpd_hostname }}
 DocumentRoot {{ moin_httpd_dir }}

 Header always set Strict-Transport-Security "max-age=31536000"  
 Header always set X-Frame-Options "SAMEORIGIN"
 Header always set X-Xss-Protection "1; mode=block"
 Header always set X-Content-Type-Options "nosniff"
 Header always set Referrer-Policy "same-origin"

 # To serve static content directly through httpd/apache and not hitting wsgi
 Alias /moin_static1910/  "/usr/lib/python2.7/site-packages/MoinMoin/web/static/htdocs/"
 Alias /favicon.ico  "/usr/lib/python2.7/site-packages/MoinMoin/web/static/htdocs/favicon.ico"
 Alias /robots.txt  "/usr/lib/python2.7/site-packages/MoinMoin/web/static/htdocs/robots.txt"

 <Directory "/usr/lib/python2.7/site-packages/MoinMoin/web/static/htdocs/">
                Require all granted
 </Directory>


  WSGIDaemonProcess moin user=apache group=apache maximum-requests={{ moin_wsgi_max_requests }} display-name=moin processes={{ moin_wsgi_processes }} threads={{ moin_wsgi_threads }} inactivity-timeout={{ moin_wsgi_inactivity_timeout }}
  WSGIScriptAlias / "/var/www/wiki_instance/moin.wsgi"

  RewriteEngine on

  <Directory "{{ moin_httpd_dir }}">
                RewriteEngine on
                LogLevel alert rewrite:trace6
                Options +FollowSymLinks
                AllowOverride All
                Require all granted
  </Directory> 


ErrorLog logs/ssl-{{ moin_httpd_hostname }}_error.log
TransferLog logs/ssl-{{ moin_httpd_hostname }}_access.log
LogLevel warn
SSLEngine on
SSLHonorCipherOrder on
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW:!aNULL:!eNULL:!DES:!MD5:!PSK:!RC4

SSLCertificateFile /etc/pki/tls/certs/{{ moin_httpd_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ moin_httpd_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ moin_httpd_hostname }}-CAChain.crt

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>
SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
CustomLog logs/ssl-{{ moin_httpd_hostname }}_request.log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>                               


